.card {
  background-color: #d0353e;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 1em;
  text-align: initial;
  margin-bottom: 1em;

  .card-header .subheading {
    font-size: 0.8em;
    color: #d8d6d6;
  }

  .card-heading {
    color: #fff;
    font-weight: 600;
  }

  .card-body {
    display: flex;
    justify-content: space-between;

    .card-body-right {
      text-align: right;
      word-break: keep-all;
      white-space: nowrap;

      ul {
        color: #fff56a;
        list-style: none;
      }
    }
  }
}
